# pylint: disable=too-many-lines
# coding=utf-8
# --------------------------------------------------------------------------
# Copyright (c) Microsoft Corporation. All rights reserved.
# Licensed under the MIT License. See License.txt in the project root for license information.
# Code generated by Microsoft (R) AutoRest Code Generator.
# Changes may cause incorrect behavior and will be lost if the code is regenerated.
# --------------------------------------------------------------------------
import sys
from typing import Any, Callable, Dict, IO, Iterable, Optional, TypeVar, Union, cast, overload
from urllib.parse import parse_qs, urljoin, urlparse

from azure.core.exceptions import (
    ClientAuthenticationError,
    HttpResponseError,
    ResourceExistsError,
    ResourceNotFoundError,
    map_error,
)
from azure.core.paging import ItemPaged
from azure.core.pipeline import PipelineResponse
from azure.core.pipeline.transport import HttpResponse
from azure.core.polling import LROPoller, NoPolling, PollingMethod
from azure.core.rest import HttpRequest
from azure.core.tracing.decorator import distributed_trace
from azure.core.utils import case_insensitive_dict
from azure.mgmt.core.exceptions import ARMErrorFormat
from azure.mgmt.core.polling.arm_polling import ARMPolling

from .._serialization import Serializer
from .._vendor import _format_url_section

if sys.version_info >= (3, 9):
    from collections.abc import MutableMapping
else:
    from typing import MutableMapping  # type: ignore  # pylint: disable=ungrouped-imports
JSON = MutableMapping[str, Any]  # pylint: disable=unsubscriptable-object
T = TypeVar("T")
ClsType = Optional[Callable[[PipelineResponse[HttpRequest, HttpResponse], T, Dict[str, Any]], Any]]

_SERIALIZER = Serializer()
_SERIALIZER.client_side_validation = False


def build_exports_list_request(scope: str, *, expand: Optional[str] = None, **kwargs: Any) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    api_version = kwargs.pop("api_version", _params.pop("api-version", "2021-10-01"))  # type: str
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/{scope}/providers/Microsoft.CostManagement/exports"
    path_format_arguments = {
        "scope": _SERIALIZER.url("scope", scope, "str", skip_quote=True),
    }

    _url = _format_url_section(_url, **path_format_arguments)

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")
    if expand is not None:
        _params["$expand"] = _SERIALIZER.query("expand", expand, "str")

    # Construct headers
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="GET", url=_url, params=_params, headers=_headers, **kwargs)


def build_exports_get_request(
    scope: str, export_name: str, *, expand: Optional[str] = None, **kwargs: Any
) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    api_version = kwargs.pop("api_version", _params.pop("api-version", "2021-10-01"))  # type: str
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/{scope}/providers/Microsoft.CostManagement/exports/{exportName}"
    path_format_arguments = {
        "scope": _SERIALIZER.url("scope", scope, "str", skip_quote=True),
        "exportName": _SERIALIZER.url("export_name", export_name, "str"),
    }

    _url = _format_url_section(_url, **path_format_arguments)

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")
    if expand is not None:
        _params["$expand"] = _SERIALIZER.query("expand", expand, "str")

    # Construct headers
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="GET", url=_url, params=_params, headers=_headers, **kwargs)


def build_exports_create_or_update_request(scope: str, export_name: str, **kwargs: Any) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    content_type = kwargs.pop("content_type", _headers.pop("Content-Type", None))  # type: Optional[str]
    api_version = kwargs.pop("api_version", _params.pop("api-version", "2021-10-01"))  # type: str
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/{scope}/providers/Microsoft.CostManagement/exports/{exportName}"
    path_format_arguments = {
        "scope": _SERIALIZER.url("scope", scope, "str", skip_quote=True),
        "exportName": _SERIALIZER.url("export_name", export_name, "str"),
    }

    _url = _format_url_section(_url, **path_format_arguments)

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    if content_type is not None:
        _headers["Content-Type"] = _SERIALIZER.header("content_type", content_type, "str")
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="PUT", url=_url, params=_params, headers=_headers, **kwargs)


def build_exports_delete_request(scope: str, export_name: str, **kwargs: Any) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    api_version = kwargs.pop("api_version", _params.pop("api-version", "2021-10-01"))  # type: str
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/{scope}/providers/Microsoft.CostManagement/exports/{exportName}"
    path_format_arguments = {
        "scope": _SERIALIZER.url("scope", scope, "str", skip_quote=True),
        "exportName": _SERIALIZER.url("export_name", export_name, "str"),
    }

    _url = _format_url_section(_url, **path_format_arguments)

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="DELETE", url=_url, params=_params, headers=_headers, **kwargs)


def build_exports_execute_request(scope: str, export_name: str, **kwargs: Any) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    api_version = kwargs.pop("api_version", _params.pop("api-version", "2021-10-01"))  # type: str
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/{scope}/providers/Microsoft.CostManagement/exports/{exportName}/run"
    path_format_arguments = {
        "scope": _SERIALIZER.url("scope", scope, "str", skip_quote=True),
        "exportName": _SERIALIZER.url("export_name", export_name, "str"),
    }

    _url = _format_url_section(_url, **path_format_arguments)

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="POST", url=_url, params=_params, headers=_headers, **kwargs)


def build_exports_get_execution_history_request(scope: str, export_name: str, **kwargs: Any) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    api_version = kwargs.pop("api_version", _params.pop("api-version", "2021-10-01"))  # type: str
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/{scope}/providers/Microsoft.CostManagement/exports/{exportName}/runHistory"
    path_format_arguments = {
        "scope": _SERIALIZER.url("scope", scope, "str", skip_quote=True),
        "exportName": _SERIALIZER.url("export_name", export_name, "str"),
    }

    _url = _format_url_section(_url, **path_format_arguments)

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="GET", url=_url, params=_params, headers=_headers, **kwargs)


def build_generate_detailed_cost_report_create_operation_request(scope: str, **kwargs: Any) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    content_type = kwargs.pop("content_type", _headers.pop("Content-Type", None))  # type: Optional[str]
    api_version = kwargs.pop("api_version", _params.pop("api-version", "2021-10-01"))  # type: str
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/{scope}/providers/Microsoft.CostManagement/generateDetailedCostReport"
    path_format_arguments = {
        "scope": _SERIALIZER.url("scope", scope, "str", skip_quote=True),
    }

    _url = _format_url_section(_url, **path_format_arguments)

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    if content_type is not None:
        _headers["Content-Type"] = _SERIALIZER.header("content_type", content_type, "str")
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="POST", url=_url, params=_params, headers=_headers, **kwargs)


def build_generate_detailed_cost_report_operation_results_get_request(
    operation_id: str, scope: str, **kwargs: Any
) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    api_version = kwargs.pop("api_version", _params.pop("api-version", "2021-10-01"))  # type: str
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/{scope}/providers/Microsoft.CostManagement/operationResults/{operationId}"
    path_format_arguments = {
        "operationId": _SERIALIZER.url("operation_id", operation_id, "str"),
        "scope": _SERIALIZER.url("scope", scope, "str", skip_quote=True),
    }

    _url = _format_url_section(_url, **path_format_arguments)

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="GET", url=_url, params=_params, headers=_headers, **kwargs)


def build_generate_detailed_cost_report_operation_status_get_request(
    operation_id: str, scope: str, **kwargs: Any
) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    api_version = kwargs.pop("api_version", _params.pop("api-version", "2021-10-01"))  # type: str
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/{scope}/providers/Microsoft.CostManagement/operationStatus/{operationId}"
    path_format_arguments = {
        "operationId": _SERIALIZER.url("operation_id", operation_id, "str"),
        "scope": _SERIALIZER.url("scope", scope, "str", skip_quote=True),
    }

    _url = _format_url_section(_url, **path_format_arguments)

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="GET", url=_url, params=_params, headers=_headers, **kwargs)


def build_views_list_request(**kwargs: Any) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    api_version = kwargs.pop("api_version", _params.pop("api-version", "2021-10-01"))  # type: str
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/providers/Microsoft.CostManagement/views"

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="GET", url=_url, params=_params, headers=_headers, **kwargs)


def build_views_list_by_scope_request(scope: str, **kwargs: Any) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    api_version = kwargs.pop("api_version", _params.pop("api-version", "2021-10-01"))  # type: str
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/{scope}/providers/Microsoft.CostManagement/views"
    path_format_arguments = {
        "scope": _SERIALIZER.url("scope", scope, "str"),
    }

    _url = _format_url_section(_url, **path_format_arguments)

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="GET", url=_url, params=_params, headers=_headers, **kwargs)


def build_views_get_request(view_name: str, **kwargs: Any) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    api_version = kwargs.pop("api_version", _params.pop("api-version", "2021-10-01"))  # type: str
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/providers/Microsoft.CostManagement/views/{viewName}"
    path_format_arguments = {
        "viewName": _SERIALIZER.url("view_name", view_name, "str"),
    }

    _url = _format_url_section(_url, **path_format_arguments)

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="GET", url=_url, params=_params, headers=_headers, **kwargs)


def build_views_create_or_update_request(view_name: str, **kwargs: Any) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    content_type = kwargs.pop("content_type", _headers.pop("Content-Type", None))  # type: Optional[str]
    api_version = kwargs.pop("api_version", _params.pop("api-version", "2021-10-01"))  # type: str
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/providers/Microsoft.CostManagement/views/{viewName}"
    path_format_arguments = {
        "viewName": _SERIALIZER.url("view_name", view_name, "str"),
    }

    _url = _format_url_section(_url, **path_format_arguments)

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    if content_type is not None:
        _headers["Content-Type"] = _SERIALIZER.header("content_type", content_type, "str")
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="PUT", url=_url, params=_params, headers=_headers, **kwargs)


def build_views_delete_request(view_name: str, **kwargs: Any) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    api_version = kwargs.pop("api_version", _params.pop("api-version", "2021-10-01"))  # type: str
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/providers/Microsoft.CostManagement/views/{viewName}"
    path_format_arguments = {
        "viewName": _SERIALIZER.url("view_name", view_name, "str"),
    }

    _url = _format_url_section(_url, **path_format_arguments)

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="DELETE", url=_url, params=_params, headers=_headers, **kwargs)


def build_views_get_by_scope_request(scope: str, view_name: str, **kwargs: Any) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    api_version = kwargs.pop("api_version", _params.pop("api-version", "2021-10-01"))  # type: str
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/{scope}/providers/Microsoft.CostManagement/views/{viewName}"
    path_format_arguments = {
        "scope": _SERIALIZER.url("scope", scope, "str"),
        "viewName": _SERIALIZER.url("view_name", view_name, "str"),
    }

    _url = _format_url_section(_url, **path_format_arguments)

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="GET", url=_url, params=_params, headers=_headers, **kwargs)


def build_views_create_or_update_by_scope_request(scope: str, view_name: str, **kwargs: Any) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    content_type = kwargs.pop("content_type", _headers.pop("Content-Type", None))  # type: Optional[str]
    api_version = kwargs.pop("api_version", _params.pop("api-version", "2021-10-01"))  # type: str
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/{scope}/providers/Microsoft.CostManagement/views/{viewName}"
    path_format_arguments = {
        "scope": _SERIALIZER.url("scope", scope, "str"),
        "viewName": _SERIALIZER.url("view_name", view_name, "str"),
    }

    _url = _format_url_section(_url, **path_format_arguments)

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    if content_type is not None:
        _headers["Content-Type"] = _SERIALIZER.header("content_type", content_type, "str")
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="PUT", url=_url, params=_params, headers=_headers, **kwargs)


def build_views_delete_by_scope_request(scope: str, view_name: str, **kwargs: Any) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    api_version = kwargs.pop("api_version", _params.pop("api-version", "2021-10-01"))  # type: str
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/{scope}/providers/Microsoft.CostManagement/views/{viewName}"
    path_format_arguments = {
        "scope": _SERIALIZER.url("scope", scope, "str"),
        "viewName": _SERIALIZER.url("view_name", view_name, "str"),
    }

    _url = _format_url_section(_url, **path_format_arguments)

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="DELETE", url=_url, params=_params, headers=_headers, **kwargs)


def build_alerts_list_request(scope: str, **kwargs: Any) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    api_version = kwargs.pop("api_version", _params.pop("api-version", "2021-10-01"))  # type: str
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/{scope}/providers/Microsoft.CostManagement/alerts"
    path_format_arguments = {
        "scope": _SERIALIZER.url("scope", scope, "str", skip_quote=True),
    }

    _url = _format_url_section(_url, **path_format_arguments)

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="GET", url=_url, params=_params, headers=_headers, **kwargs)


def build_alerts_get_request(scope: str, alert_id: str, **kwargs: Any) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    api_version = kwargs.pop("api_version", _params.pop("api-version", "2021-10-01"))  # type: str
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/{scope}/providers/Microsoft.CostManagement/alerts/{alertId}"
    path_format_arguments = {
        "scope": _SERIALIZER.url("scope", scope, "str", skip_quote=True),
        "alertId": _SERIALIZER.url("alert_id", alert_id, "str", skip_quote=True),
    }

    _url = _format_url_section(_url, **path_format_arguments)

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="GET", url=_url, params=_params, headers=_headers, **kwargs)


def build_alerts_dismiss_request(scope: str, alert_id: str, **kwargs: Any) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    content_type = kwargs.pop("content_type", _headers.pop("Content-Type", None))  # type: Optional[str]
    api_version = kwargs.pop("api_version", _params.pop("api-version", "2021-10-01"))  # type: str
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/{scope}/providers/Microsoft.CostManagement/alerts/{alertId}"
    path_format_arguments = {
        "scope": _SERIALIZER.url("scope", scope, "str", skip_quote=True),
        "alertId": _SERIALIZER.url("alert_id", alert_id, "str", skip_quote=True),
    }

    _url = _format_url_section(_url, **path_format_arguments)

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    if content_type is not None:
        _headers["Content-Type"] = _SERIALIZER.header("content_type", content_type, "str")
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="PATCH", url=_url, params=_params, headers=_headers, **kwargs)


def build_alerts_list_external_request(
    external_cloud_provider_type: str, external_cloud_provider_id: str, **kwargs: Any
) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    api_version = kwargs.pop("api_version", _params.pop("api-version", "2021-10-01"))  # type: str
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/providers/Microsoft.CostManagement/{externalCloudProviderType}/{externalCloudProviderId}/alerts"
    path_format_arguments = {
        "externalCloudProviderType": _SERIALIZER.url(
            "external_cloud_provider_type", external_cloud_provider_type, "str"
        ),
        "externalCloudProviderId": _SERIALIZER.url("external_cloud_provider_id", external_cloud_provider_id, "str"),
    }

    _url = _format_url_section(_url, **path_format_arguments)

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="GET", url=_url, params=_params, headers=_headers, **kwargs)


def build_forecast_usage_request(scope: str, **kwargs: Any) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    filter = kwargs.pop("filter", _params.pop("$filter", None))  # type: Optional[str]
    content_type = kwargs.pop("content_type", _headers.pop("Content-Type", None))  # type: Optional[str]
    api_version = kwargs.pop("api_version", _params.pop("api-version", "2021-10-01"))  # type: str
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/{scope}/providers/Microsoft.CostManagement/forecast"
    path_format_arguments = {
        "scope": _SERIALIZER.url("scope", scope, "str", skip_quote=True),
    }

    _url = _format_url_section(_url, **path_format_arguments)

    # Construct parameters
    if filter is not None:
        _params["$filter"] = _SERIALIZER.query("filter", filter, "str")
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    if content_type is not None:
        _headers["Content-Type"] = _SERIALIZER.header("content_type", content_type, "str")
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="POST", url=_url, params=_params, headers=_headers, **kwargs)


def build_forecast_external_cloud_provider_usage_request(
    external_cloud_provider_type: str, external_cloud_provider_id: str, **kwargs: Any
) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    filter = kwargs.pop("filter", _params.pop("$filter", None))  # type: Optional[str]
    content_type = kwargs.pop("content_type", _headers.pop("Content-Type", None))  # type: Optional[str]
    api_version = kwargs.pop("api_version", _params.pop("api-version", "2021-10-01"))  # type: str
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/providers/Microsoft.CostManagement/{externalCloudProviderType}/{externalCloudProviderId}/forecast"
    path_format_arguments = {
        "externalCloudProviderType": _SERIALIZER.url(
            "external_cloud_provider_type", external_cloud_provider_type, "str"
        ),
        "externalCloudProviderId": _SERIALIZER.url("external_cloud_provider_id", external_cloud_provider_id, "str"),
    }

    _url = _format_url_section(_url, **path_format_arguments)

    # Construct parameters
    if filter is not None:
        _params["$filter"] = _SERIALIZER.query("filter", filter, "str")
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    if content_type is not None:
        _headers["Content-Type"] = _SERIALIZER.header("content_type", content_type, "str")
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="POST", url=_url, params=_params, headers=_headers, **kwargs)


def build_dimensions_list_request(
    scope: str,
    *,
    filter: Optional[str] = None,
    expand: Optional[str] = None,
    skiptoken: Optional[str] = None,
    top: Optional[int] = None,
    **kwargs: Any
) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    api_version = kwargs.pop("api_version", _params.pop("api-version", "2021-10-01"))  # type: str
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/{scope}/providers/Microsoft.CostManagement/dimensions"
    path_format_arguments = {
        "scope": _SERIALIZER.url("scope", scope, "str", skip_quote=True),
    }

    _url = _format_url_section(_url, **path_format_arguments)

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")
    if filter is not None:
        _params["$filter"] = _SERIALIZER.query("filter", filter, "str")
    if expand is not None:
        _params["$expand"] = _SERIALIZER.query("expand", expand, "str")
    if skiptoken is not None:
        _params["$skiptoken"] = _SERIALIZER.query("skiptoken", skiptoken, "str")
    if top is not None:
        _params["$top"] = _SERIALIZER.query("top", top, "int", maximum=1000, minimum=1)

    # Construct headers
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="GET", url=_url, params=_params, headers=_headers, **kwargs)


def build_dimensions_by_external_cloud_provider_type_request(
    external_cloud_provider_type: str,
    external_cloud_provider_id: str,
    *,
    filter: Optional[str] = None,
    expand: Optional[str] = None,
    skiptoken: Optional[str] = None,
    top: Optional[int] = None,
    **kwargs: Any
) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    api_version = kwargs.pop("api_version", _params.pop("api-version", "2021-10-01"))  # type: str
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/providers/Microsoft.CostManagement/{externalCloudProviderType}/{externalCloudProviderId}/dimensions"
    path_format_arguments = {
        "externalCloudProviderType": _SERIALIZER.url(
            "external_cloud_provider_type", external_cloud_provider_type, "str"
        ),
        "externalCloudProviderId": _SERIALIZER.url("external_cloud_provider_id", external_cloud_provider_id, "str"),
    }

    _url = _format_url_section(_url, **path_format_arguments)

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")
    if filter is not None:
        _params["$filter"] = _SERIALIZER.query("filter", filter, "str")
    if expand is not None:
        _params["$expand"] = _SERIALIZER.query("expand", expand, "str")
    if skiptoken is not None:
        _params["$skiptoken"] = _SERIALIZER.query("skiptoken", skiptoken, "str")
    if top is not None:
        _params["$top"] = _SERIALIZER.query("top", top, "int", maximum=1000, minimum=1)

    # Construct headers
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="GET", url=_url, params=_params, headers=_headers, **kwargs)


def build_query_usage_request(scope: str, **kwargs: Any) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    content_type = kwargs.pop("content_type", _headers.pop("Content-Type", None))  # type: Optional[str]
    api_version = kwargs.pop("api_version", _params.pop("api-version", "2021-10-01"))  # type: str
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/{scope}/providers/Microsoft.CostManagement/query"
    path_format_arguments = {
        "scope": _SERIALIZER.url("scope", scope, "str", skip_quote=True),
    }

    _url = _format_url_section(_url, **path_format_arguments)

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    if content_type is not None:
        _headers["Content-Type"] = _SERIALIZER.header("content_type", content_type, "str")
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="POST", url=_url, params=_params, headers=_headers, **kwargs)


def build_query_usage_by_external_cloud_provider_type_request(
    external_cloud_provider_type: str, external_cloud_provider_id: str, **kwargs: Any
) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    content_type = kwargs.pop("content_type", _headers.pop("Content-Type", None))  # type: Optional[str]
    api_version = kwargs.pop("api_version", _params.pop("api-version", "2021-10-01"))  # type: str
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/providers/Microsoft.CostManagement/{externalCloudProviderType}/{externalCloudProviderId}/query"
    path_format_arguments = {
        "externalCloudProviderType": _SERIALIZER.url(
            "external_cloud_provider_type", external_cloud_provider_type, "str"
        ),
        "externalCloudProviderId": _SERIALIZER.url("external_cloud_provider_id", external_cloud_provider_id, "str"),
    }

    _url = _format_url_section(_url, **path_format_arguments)

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    if content_type is not None:
        _headers["Content-Type"] = _SERIALIZER.header("content_type", content_type, "str")
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="POST", url=_url, params=_params, headers=_headers, **kwargs)


def build_generate_reservation_details_report_by_billing_account_id_request(
    billing_account_id: str, *, start_date: str, end_date: str, **kwargs: Any
) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    api_version = kwargs.pop("api_version", _params.pop("api-version", "2021-10-01"))  # type: str
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/providers/Microsoft.CostManagement/generateReservationDetailsReport"  # pylint: disable=line-too-long
    path_format_arguments = {
        "billingAccountId": _SERIALIZER.url("billing_account_id", billing_account_id, "str"),
    }

    _url = _format_url_section(_url, **path_format_arguments)

    # Construct parameters
    _params["startDate"] = _SERIALIZER.query("start_date", start_date, "str")
    _params["endDate"] = _SERIALIZER.query("end_date", end_date, "str")
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="POST", url=_url, params=_params, headers=_headers, **kwargs)


def build_generate_reservation_details_report_by_billing_profile_id_request(
    billing_account_id: str, billing_profile_id: str, *, start_date: str, end_date: str, **kwargs: Any
) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    api_version = kwargs.pop("api_version", _params.pop("api-version", "2021-10-01"))  # type: str
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/providers/Microsoft.CostManagement/generateReservationDetailsReport"  # pylint: disable=line-too-long
    path_format_arguments = {
        "billingAccountId": _SERIALIZER.url("billing_account_id", billing_account_id, "str"),
        "billingProfileId": _SERIALIZER.url("billing_profile_id", billing_profile_id, "str"),
    }

    _url = _format_url_section(_url, **path_format_arguments)

    # Construct parameters
    _params["startDate"] = _SERIALIZER.query("start_date", start_date, "str")
    _params["endDate"] = _SERIALIZER.query("end_date", end_date, "str")
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="POST", url=_url, params=_params, headers=_headers, **kwargs)


def build_operations_list_request(**kwargs: Any) -> HttpRequest:
    _headers = case_insensitive_dict(kwargs.pop("headers", {}) or {})
    _params = case_insensitive_dict(kwargs.pop("params", {}) or {})

    api_version = kwargs.pop("api_version", _params.pop("api-version", "2021-10-01"))  # type: str
    accept = _headers.pop("Accept", "application/json")

    # Construct URL
    _url = "/providers/Microsoft.CostManagement/operations"

    # Construct parameters
    _params["api-version"] = _SERIALIZER.query("api_version", api_version, "str")

    # Construct headers
    _headers["Accept"] = _SERIALIZER.header("accept", accept, "str")

    return HttpRequest(method="GET", url=_url, params=_params, headers=_headers, **kwargs)


class ExportsOperations:
    """
    .. warning::
        **DO NOT** instantiate this class directly.

        Instead, you should access the following operations through
        :class:`~azure.mgmt.costmanagement.CostManagementClient`'s
        :attr:`exports` attribute.
    """

    def __init__(self, *args, **kwargs):
        input_args = list(args)
        self._client = input_args.pop(0) if input_args else kwargs.pop("client")
        self._config = input_args.pop(0) if input_args else kwargs.pop("config")
        self._serialize = input_args.pop(0) if input_args else kwargs.pop("serializer")
        self._deserialize = input_args.pop(0) if input_args else kwargs.pop("deserializer")

    @distributed_trace
    def list(self, scope: str, *, expand: Optional[str] = None, **kwargs: Any) -> JSON:
        """The operation to list all exports at the given scope.

        :param scope: The scope associated with export operations. This includes
         '/subscriptions/{subscriptionId}/' for subscription scope,
         '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for resourceGroup scope,
         '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for Billing Account scope and
         '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}'
         for Department scope,
         '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}'
         for EnrollmentAccount scope,
         '/providers/Microsoft.Management/managementGroups/{managementGroupId} for Management Group
         scope,
         '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}'
         for billingProfile scope,
         '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/invoiceSections/{invoiceSectionId}'
         for invoiceSection scope, and
         '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/customers/{customerId}'
         specific for partners. Required.
        :type scope: str
        :keyword expand: May be used to expand the properties within an export. Currently only
         'runHistory' is supported and will return information for the last execution of each export.
         Default value is None.
        :paramtype expand: str
        :return: JSON object
        :rtype: JSON
        :raises ~azure.core.exceptions.HttpResponseError:

        Example:
            .. code-block:: python

                # response body for status code(s): 200
                response == {
                    "value": [
                        {
                            "eTag": "str",  # Optional. eTag of the resource. To handle
                              concurrent update scenario, this field will be used to determine whether
                              the user is updating the latest version or not.
                            "id": "str",  # Optional. Resource Id.
                            "name": "str",  # Optional. Resource name.
                            "properties": {
                                "definition": {
                                    "dataSet": {
                                        "configuration": {
                                            "columns": [
                                                "str"  # Optional.
                                                  Array of column names to be included in the export.
                                                  If not provided then the export will include all
                                                  available columns. The available columns can vary by
                                                  customer channel (see examples).
                                            ]
                                        },
                                        "granularity": "str"  # Optional. The
                                          granularity of rows in the export. Currently only 'Daily' is
                                          supported. "Daily"
                                    },
                                    "timePeriod": {
                                        "from": "2020-02-20 00:00:00",  # The
                                          start date for export data. Required.
                                        "to": "2020-02-20 00:00:00"  # The
                                          end date for export data. Required.
                                    },
                                    "timeframe": "str",  # The time frame for
                                      pulling data for the export. If custom, then a specific time
                                      period must be provided. Required. Known values are:
                                      "MonthToDate", "BillingMonthToDate", "TheLastMonth",
                                      "TheLastBillingMonth", "WeekToDate", and "Custom".
                                    "type": "str"  # The type of the export. Note
                                      that 'Usage' is equivalent to 'ActualCost' and is applicable to
                                      exports that do not yet provide data for charges or amortization
                                      for service reservations. Required. Known values are: "Usage",
                                      "ActualCost", and "AmortizedCost".
                                },
                                "deliveryInfo": {
                                    "destination": {
                                        "container": "str",  # The name of
                                          the container where exports will be uploaded. If the
                                          container does not exist it will be created. Required.
                                        "resourceId": "str",  # Optional. The
                                          resource id of the storage account where exports will be
                                          delivered. This is not required if a sasToken and
                                          storageAccount are specified.
                                        "rootFolderPath": "str",  # Optional.
                                          The name of the directory where exports will be uploaded.
                                        "sasToken": "str",  # Optional. A SAS
                                          token for the storage account. For a restricted set of Azure
                                          customers this together with storageAccount can be specified
                                          instead of resourceId. Note: the value returned by the API
                                          for this property will always be obfuscated. Returning this
                                          same obfuscated value will not result in the SAS token being
                                          updated. To update this value a new SAS token must be
                                          specified.
                                        "storageAccount": "str"  # Optional.
                                          The storage account where exports will be uploaded. For a
                                          restricted set of Azure customers this together with sasToken
                                          can be specified instead of resourceId.
                                    }
                                },
                                "format": "str",  # Optional. The format of the
                                  export being delivered. Currently only 'Csv' is supported. "Csv"
                                "nextRunTimeEstimate": "2020-02-20 00:00:00",  #
                                  Optional. If the export has an active schedule, provides an estimate
                                  of the next execution time.
                                "partitionData": bool,  # Optional. If set to true,
                                  exported data will be partitioned by size and placed in a blob
                                  directory together with a manifest file. Note: this option is
                                  currently available only for modern commerce scopes.
                                "runHistory": {
                                    "value": [
                                        {
                                            "eTag": "str",  # Optional.
                                              eTag of the resource. To handle concurrent update
                                              scenario, this field will be used to determine whether
                                              the user is updating the latest version or not.
                                            "id": "str",  # Optional.
                                              Resource Id.
                                            "name": "str",  # Optional.
                                              Resource name.
                                            "properties": {
                                                "error": {
                                                    "code":
                                                      "str",  # Optional. Error code.
                                                    "message":
                                                      "str"  # Optional. Error message indicating why
                                                      the operation failed.
                                                },
                                                "executionType":
                                                  "str",  # Optional. The type of the export execution.
                                                  Known values are: "OnDemand" and "Scheduled".
                                                "fileName": "str",  #
                                                  Optional. The name of the exported file.
                                                "processingEndTime":
                                                  "2020-02-20 00:00:00",  # Optional. The time when the
                                                  export execution finished.
                "processingStartTime": "2020-02-20 00:00:00",  #
                                                  Optional. The time when export was picked up to be
                                                  executed.
                                                "runSettings": {
                                                    "definition":
                                                      {
                "dataSet": {
                "configuration": {
                "columns": [
                "str"  # Optional. Array of
                                                                      column names to be included in
                                                                      the export. If not provided then
                                                                      the export will include all
                                                                      available columns. The available
                                                                      columns can vary by customer
                                                                      channel (see examples).
                ]
                },
                "granularity": "str"  # Optional. The
                                                              granularity of rows in the export.
                                                              Currently only 'Daily' is supported.
                                                              "Daily"
                                                        },
                "timePeriod": {
                "from": "2020-02-20 00:00:00",  # The
                                                              start date for export data. Required.
                "to": "2020-02-20 00:00:00"  # The end
                                                              date for export data. Required.
                                                        },
                "timeframe": "str",  # The time frame for
                                                          pulling data for the export. If custom, then
                                                          a specific time period must be provided.
                                                          Required. Known values are: "MonthToDate",
                                                          "BillingMonthToDate", "TheLastMonth",
                                                          "TheLastBillingMonth", "WeekToDate", and
                                                          "Custom".
                "type": "str"  # The type of the export. Note
                                                          that 'Usage' is equivalent to 'ActualCost'
                                                          and is applicable to exports that do not yet
                                                          provide data for charges or amortization for
                                                          service reservations. Required. Known values
                                                          are: "Usage", "ActualCost", and
                                                          "AmortizedCost".
                                                    },
                "deliveryInfo": {
                "destination": {
                "container": "str",  # The name of the
                                                              container where exports will be uploaded.
                                                              If the container does not exist it will
                                                              be created. Required.
                "resourceId": "str",  # Optional. The
                                                              resource id of the storage account where
                                                              exports will be delivered. This is not
                                                              required if a sasToken and storageAccount
                                                              are specified.
                "rootFolderPath": "str",  # Optional. The
                                                              name of the directory where exports will
                                                              be uploaded.
                "sasToken": "str",  # Optional. A SAS
                                                              token for the storage account. For a
                                                              restricted set of Azure customers this
                                                              together with storageAccount can be
                                                              specified instead of resourceId. Note:
                                                              the value returned by the API for this
                                                              property will always be obfuscated.
                                                              Returning this same obfuscated value will
                                                              not result in the SAS token being
                                                              updated. To update this value a new SAS
                                                              token must be specified.
                "storageAccount": "str"  # Optional. The
                                                              storage account where exports will be
                                                              uploaded. For a restricted set of Azure
                                                              customers this together with sasToken can
                                                              be specified instead of resourceId.
                                                        }
                                                    },
                                                    "format":
                                                      "str",  # Optional. The format of the export
                                                      being delivered. Currently only 'Csv' is
                                                      supported. "Csv"
                "nextRunTimeEstimate": "2020-02-20 00:00:00",  #
                                                      Optional. If the export has an active schedule,
                                                      provides an estimate of the next execution time.
                "partitionData": bool,  # Optional. If set to
                                                      true, exported data will be partitioned by size
                                                      and placed in a blob directory together with a
                                                      manifest file. Note: this option is currently
                                                      available only for modern commerce scopes.
                                                    "runHistory":
                                                      ...
                                                },
                                                "status": "str",  #
                                                  Optional. The last known status of the export
                                                  execution. Known values are: "Queued", "InProgress",
                                                  "Completed", "Failed", "Timeout",
                                                  "NewDataNotAvailable", and "DataNotAvailable".
                                                "submittedBy": "str",
                                                  # Optional. The identifier for the entity that
                                                  executed the export. For OnDemand executions it is
                                                  the user email. For scheduled executions it is
                                                  'System'.
                                                "submittedTime":
                                                  "2020-02-20 00:00:00"  # Optional. The time when
                                                  export was queued to be executed.
                                            },
                                            "type": "str"  # Optional.
                                              Resource type.
                                        }
                                    ]
                                },
                                "schedule": {
                                    "recurrence": "str",  # Optional. The
                                      schedule recurrence. Known values are: "Daily", "Weekly",
                                      "Monthly", and "Annually".
                                    "recurrencePeriod": {
                                        "from": "2020-02-20 00:00:00",  # The
                                          start date of recurrence. Required.
                                        "to": "2020-02-20 00:00:00"  #
                                          Optional. The end date of recurrence.
                                    },
                                    "status": "str"  # Optional. The status of
                                      the export's schedule. If 'Inactive', the export's schedule is
                                      paused. Known values are: "Active" and "Inactive".
                                }
                            },
                            "type": "str"  # Optional. Resource type.
                        }
                    ]
                }
        """
        error_map = {401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop("error_map", {}) or {})

        _headers = kwargs.pop("headers", {}) or {}
        _params = kwargs.pop("params", {}) or {}

        cls = kwargs.pop("cls", None)  # type: ClsType[JSON]

        request = build_exports_list_request(
            scope=scope,
            expand=expand,
            api_version=self._config.api_version,
            headers=_headers,
            params=_params,
        )
        request.url = self._client.format_url(request.url)  # type: ignore

        pipeline_response = self._client._pipeline.run(  # type: ignore # pylint: disable=protected-access
            request, stream=False, **kwargs
        )

        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response, error_format=ARMErrorFormat)

        if response.content:
            deserialized = response.json()
        else:
            deserialized = None

        if cls:
            return cls(pipeline_response, cast(JSON, deserialized), {})

        return cast(JSON, deserialized)

    @distributed_trace
    def get(self, scope: str, export_name: str, *, expand: Optional[str] = None, **kwargs: Any) -> JSON:
        """The operation to get the export for the defined scope by export name.

        :param scope: The scope associated with export operations. This includes
         '/subscriptions/{subscriptionId}/' for subscription scope,
         '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for resourceGroup scope,
         '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for Billing Account scope and
         '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}'
         for Department scope,
         '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}'
         for EnrollmentAccount scope,
         '/providers/Microsoft.Management/managementGroups/{managementGroupId} for Management Group
         scope,
         '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}'
         for billingProfile scope,
         '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/invoiceSections/{invoiceSectionId}'
         for invoiceSection scope, and
         '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/customers/{customerId}'
         specific for partners. Required.
        :type scope: str
        :param export_name: Export Name. Required.
        :type export_name: str
        :keyword expand: May be used to expand the properties within an export. Currently only
         'runHistory' is supported and will return information for the last 10 executions of the export.
         Default value is None.
        :paramtype expand: str
        :return: JSON object
        :rtype: JSON
        :raises ~azure.core.exceptions.HttpResponseError:

        Example:
            .. code-block:: python

                # response body for status code(s): 200
                response == {
                    "eTag": "str",  # Optional. eTag of the resource. To handle concurrent update
                      scenario, this field will be used to determine whether the user is updating the
                      latest version or not.
                    "id": "str",  # Optional. Resource Id.
                    "name": "str",  # Optional. Resource name.
                    "properties": {
                        "definition": {
                            "dataSet": {
                                "configuration": {
                                    "columns": [
                                        "str"  # Optional. Array of column
                                          names to be included in the export. If not provided then the
                                          export will include all available columns. The available
                                          columns can vary by customer channel (see examples).
                                    ]
                                },
                                "granularity": "str"  # Optional. The granularity of
                                  rows in the export. Currently only 'Daily' is supported. "Daily"
                            },
                            "timePeriod": {
                                "from": "2020-02-20 00:00:00",  # The start date for
                                  export data. Required.
                                "to": "2020-02-20 00:00:00"  # The end date for
                                  export data. Required.
                            },
                            "timeframe": "str",  # The time frame for pulling data for
                              the export. If custom, then a specific time period must be provided.
                              Required. Known values are: "MonthToDate", "BillingMonthToDate",
                              "TheLastMonth", "TheLastBillingMonth", "WeekToDate", and "Custom".
                            "type": "str"  # The type of the export. Note that 'Usage' is
                              equivalent to 'ActualCost' and is applicable to exports that do not yet
                              provide data for charges or amortization for service reservations.
                              Required. Known values are: "Usage", "ActualCost", and "AmortizedCost".
                        },
                        "deliveryInfo": {
                            "destination": {
                                "container": "str",  # The name of the container
                                  where exports will be uploaded. If the container does not exist it
                                  will be created. Required.
                                "resourceId": "str",  # Optional. The resource id of
                                  the storage account where exports will be delivered. This is not
                                  required if a sasToken and storageAccount are specified.
                                "rootFolderPath": "str",  # Optional. The name of the
                                  directory where exports will be uploaded.
                                "sasToken": "str",  # Optional. A SAS token for the
                                  storage account. For a restricted set of Azure customers this
                                  together with storageAccount can be specified instead of resourceId.
                                  Note: the value returned by the API for this property will always be
                                  obfuscated. Returning this same obfuscated value will not result in
                                  the SAS token being updated. To update this value a new SAS token
                                  must be specified.
                                "storageAccount": "str"  # Optional. The storage
                                  account where exports will be uploaded. For a restricted set of Azure
                                  customers this together with sasToken can be specified instead of
                                  resourceId.
                            }
                        },
                        "format": "str",  # Optional. The format of the export being
                          delivered. Currently only 'Csv' is supported. "Csv"
                        "nextRunTimeEstimate": "2020-02-20 00:00:00",  # Optional. If the
                          export has an active schedule, provides an estimate of the next execution
                          time.
                        "partitionData": bool,  # Optional. If set to true, exported data
                          will be partitioned by size and placed in a blob directory together with a
                          manifest file. Note: this option is currently available only for modern
                          commerce scopes.
                        "runHistory": {
                            "value": [
                                {
                                    "eTag": "str",  # Optional. eTag of the
                                      resource. To handle concurrent update scenario, this field will
                                      be used to determine whether the user is updating the latest
                                      version or not.
                                    "id": "str",  # Optional. Resource Id.
                                    "name": "str",  # Optional. Resource name.
                                    "properties": {
                                        "error": {
                                            "code": "str",  # Optional.
                                              Error code.
                                            "message": "str"  # Optional.
                                              Error message indicating why the operation failed.
                                        },
                                        "executionType": "str",  # Optional.
                                          The type of the export execution. Known values are:
                                          "OnDemand" and "Scheduled".
                                        "fileName": "str",  # Optional. The
                                          name of the exported file.
                                        "processingEndTime": "2020-02-20
                                          00:00:00",  # Optional. The time when the export execution
                                          finished.
                                        "processingStartTime": "2020-02-20
                                          00:00:00",  # Optional. The time when export was picked up to
                                          be executed.
                                        "runSettings": {
                                            "definition": {
                                                "dataSet": {
                "configuration": {
                "columns": [
                "str"  # Optional. Array of column names
                                                              to be included in the export. If not
                                                              provided then the export will include all
                                                              available columns. The available columns
                                                              can vary by customer channel (see
                                                              examples).
                                                        ]
                                                    },
                "granularity": "str"  # Optional. The granularity
                                                      of rows in the export. Currently only 'Daily' is
                                                      supported. "Daily"
                                                },
                                                "timePeriod": {
                                                    "from":
                                                      "2020-02-20 00:00:00",  # The start date for
                                                      export data. Required.
                                                    "to":
                                                      "2020-02-20 00:00:00"  # The end date for export
                                                      data. Required.
                                                },
                                                "timeframe": "str",
                                                  # The time frame for pulling data for the export. If
                                                  custom, then a specific time period must be provided.
                                                  Required. Known values are: "MonthToDate",
                                                  "BillingMonthToDate", "TheLastMonth",
                                                  "TheLastBillingMonth", "WeekToDate", and "Custom".
                                                "type": "str"  # The
                                                  type of the export. Note that 'Usage' is equivalent
                                                  to 'ActualCost' and is applicable to exports that do
                                                  not yet provide data for charges or amortization for
                                                  service reservations. Required. Known values are:
                                                  "Usage", "ActualCost", and "AmortizedCost".
                                            },
                                            "deliveryInfo": {
                                                "destination": {
                                                    "container":
                                                      "str",  # The name of the container where exports
                                                      will be uploaded. If the container does not exist
                                                      it will be created. Required.
                                                    "resourceId":
                                                      "str",  # Optional. The resource id of the
                                                      storage account where exports will be delivered.
                                                      This is not required if a sasToken and
                                                      storageAccount are specified.
                "rootFolderPath": "str",  # Optional. The name of
                                                      the directory where exports will be uploaded.
                                                    "sasToken":
                                                      "str",  # Optional. A SAS token for the storage
                                                      account. For a restricted set of Azure customers
                                                      this together with storageAccount can be
                                                      specified instead of resourceId. Note: the value
                                                      returned by the API for this property will always
                                                      be obfuscated. Returning this same obfuscated
                                                      value will not result in the SAS token being
                                                      updated. To update this value a new SAS token
                                                      must be specified.
                "storageAccount": "str"  # Optional. The storage
                                                      account where exports will be uploaded. For a
                                                      restricted set of Azure customers this together
                                                      with sasToken can be specified instead of
                                                      resourceId.
                                                }
                                            },
                                            "format": "str",  # Optional.
                                              The format of the export being delivered. Currently only
                                              'Csv' is supported. "Csv"
                                            "nextRunTimeEstimate":
                                              "2020-02-20 00:00:00",  # Optional. If the export has an
                                              active schedule, provides an estimate of the next
                                              execution time.
                                            "partitionData": bool,  #
                                              Optional. If set to true, exported data will be
                                              partitioned by size and placed in a blob directory
                                              together with a manifest file. Note: this option is
                                              currently available only for modern commerce scopes.
                                            "runHistory": ...
                                        },
                                        "status": "str",  # Optional. The
                                          last known status of the export execution. Known values are:
                                          "Queued", "InProgress", "Completed", "Failed", "Timeout",
                                          "NewDataNotAvailable", and "DataNotAvailable".
                                        "submittedBy": "str",  # Optional.
                                          The identifier for the entity that executed the export. For
                                          OnDemand executions it is the user email. For scheduled
                                          executions it is 'System'.
                                        "submittedTime": "2020-02-20
                                          00:00:00"  # Optional. The time when export was queued to be
                                          executed.
                                    },
                                    "type": "str"  # Optional. Resource type.
                                }
                            ]
                        },
                        "schedule": {
                            "recurrence": "str",  # Optional. The schedule recurrence.
                              Known values are: "Daily", "Weekly", "Monthly", and "Annually".
                            "recurrencePeriod": {
                                "from": "2020-02-20 00:00:00",  # The start date of
                                  recurrence. Required.
                                "to": "2020-02-20 00:00:00"  # Optional. The end date
                                  of recurrence.
                            },
                            "status": "str"  # Optional. The status of the export's
                              schedule. If 'Inactive', the export's schedule is paused. Known values
                              are: "Active" and "Inactive".
                        }
                    },
                    "type": "str"  # Optional. Resource type.
                }
        """
        error_map = {401: ClientAuthenticationError, 404: ResourceNotFoundError, 409: ResourceExistsError}
        error_map.update(kwargs.pop("error_map", {}) or {})

        _headers = kwargs.pop("headers", {}) or {}
        _params = kwargs.pop("params", {}) or {}

        cls = kwargs.pop("cls", None)  # type: ClsType[JSON]

        request = build_exports_get_request(
            scope=scope,
            export_name=export_name,
            expand=expand,
            api_version=self._config.api_version,
            headers=_headers,
            params=_params,
        )
        request.url = self._client.format_url(request.url)  # type: ignore

        pipeline_response = self._client._pipeline.run(  # type: ignore # pylint: disable=protected-access
            request, stream=False, **kwargs
        )

        response = pipeline_response.http_response

        if response.status_code not in [200]:
            map_error(status_code=response.status_code, response=response, error_map=error_map)
            raise HttpResponseError(response=response, error_format=ARMErrorFormat)

        if response.content:
            deserialized = response.json()
        else:
            deserialized = None

        if cls:
            return cls(pipeline_response, cast(JSON, deserialized), {})

        return cast(JSON, deserialized)

    @overload
    def create_or_update(
        self, scope: str, export_name: str, parameters: JSON, *, content_type: str = "application/json", **kwargs: Any
    ) -> JSON:
        """The operation to create or update a export. Update operation requires latest eTag to be set in
        the request. You may obtain the latest eTag by performing a get operation. Create operation
        does not require eTag.

        :param scope: The scope associated with export operations. This includes
         '/subscriptions/{subscriptionId}/' for subscription scope,
         '/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}' for resourceGroup scope,
         '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}' for Billing Account scope and
         '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/departments/{departmentId}'
         for Department scope,
         '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/enrollmentAccounts/{enrollmentAccountId}'
         for EnrollmentAccount scope,
         '/providers/Microsoft.Management/managementGroups/{managementGroupId} for Management Group
         scope,
         '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}'
         for billingProfile scope,
         '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/billingProfiles/{billingProfileId}/invoiceSections/{invoiceSectionId}'
         for invoiceSection scope, and
         '/providers/Microsoft.Billing/billingAccounts/{billingAccountId}/customers/{customerId}'
         specific for partners. Required.
        :type scope: str
        :param export_name: Export Name. Required.
        :type export_name: str
        :param parameters: Parameters supplied to the CreateOrUpdate Export operation. Required.
        :type parameters: JSON
        :keyword content_type: Body Parameter content-type. Content type parameter for JSON body.
         Default value is "application/json".
        :paramtype content_type: str
        :return: JSON object
        :rtype: JSON
        :raises ~azure.core.exceptions.HttpResponseError:

        Example:
            .. code-block:: python

                # JSON input template you can fill out and use as your body input.
                parameters = {
                    "eTag": "str",  # Optional. eTag of the resource. To handle concurrent update
                      scenario, this field will be used to determine whether the user is updating the
                      latest version or not.
                    "id": "str",  # Optional. Resource Id.
                    "name": "str",  # Optional. Resource name.
                    "properties": {
                        "definition": {
                            "dataSet": {
                                "configuration": {
                                    "columns": [
                                        "str"  # Optional. Array of column
                                          names to be included in the export. If not provided then the
                                          export will include all available columns. The available
                                          columns can vary by customer channel (see examples).
                                    ]
                                },
                                "granularity": "str"  # Optional. The granularity of
                                  rows in the export. Currently only 'Daily' is supported. "Daily"
                            },
                            "timePeriod": {
                                "from": "2020-02-20 00:00:00",  # The start date for
                                  export data. Required.
                                "to": "2020-02-20 00:00:00"  # The end date for
                                  export data. Required.
                            },
                            "timeframe": "str",  # The time frame for pulling data for
                              the export. If custom, then a specific time period must be provided.
                              Required. Known values are: "MonthToDate", "BillingMonthToDate",
                              "TheLastMonth", "TheLastBillingMonth", "WeekToDate", and "Custom".
                            "type": "str"  # The type of the export. Note that 'Usage' is
                              equivalent to 'ActualCost' and is applicable to exports that do not yet
                              provide data for charges or amortization for service reservations.
                              Required. Known values are: "Usage", "ActualCost", and "AmortizedCost".
                        },
                        "deliveryInfo": {
                            "destination": {
                                "container": "str",  # The name of the container
                                  where exports will be uploaded. If the container does not exist it
                                  will be created. Required.
                                "resourceId": "str",  # Optional. The resource id of
                                  the storage account where exports will be delivered. This is not
                                  required if a sasToken and storageAccount are specified.
                                "rootFolderPath": "str",  # Optional. The name of the
                                  directory where exports will be uploaded.
                                "sasToken": "str",  # Optional. A SAS token for the
                                  storage account. For a restricted set of Azure customers this
                                  together with storageAccount can be specified instead of resourceId.
                                  Note: the value returned by the API for this property will always be
                                  obfuscated. Returning this same obfuscated value will not result in
                                  the SAS token being updated. To update this value a new SAS token
                                  must be specified.
                                "storageAccount": "str"  # Optional. The storage
                                  account where exports will be uploaded. For a restricted set of Azure
                                  customers this together with sasToken can be specified instead of
                                  resourceId.
                            }
                        },
                        "format": "str",  # Optional. The format of the export being
                          delivered. Currently only 'Csv' is supported. "Csv"
                        "nextRunTimeEstimate": "2020-02-20 00:00:00",  # Optional. If the
                          export has an active schedule, provides an estimate of the next execution
                          time.
                        "partitionData": bool,  # Optional. If set to true, exported data
                          will be partitioned by size and placed in a blob directory together with a
                          manifest file. Note: this option is currently available only for modern
                          commerce scopes.
                        "runHistory": {
                            "value": [
                                {
                                    "eTag": "str",  # Optional. eTag of the
                                      resource. To handle concurrent update scenario, this field will
                                      be used to determine whether the user is updating the latest
                                      version or not.
                                    "id": "str",  # Optional. Resource Id.
                                    "name": "str",  # Optional. Resource name.
                                    "properties": {
                                        "error": {
                                            "code": "str",  # Optional.
                                              Error code.
                                            "message": "str"  # Optional.
                                              Error message indicating why the operation failed.
                                        },
                                        "executionType": "str",  # Optional.
                                          The type of the export execution. Known values are:
                                          "OnDemand" and "Scheduled".
                                        "fileName": "str",  # Optional. The
                                          name of the exported file.
                                        "processingEndTime": "2020-02-20
                                          00:00:00",  # Optional. The time when the export execution
                                          finished.
                                        "processingStartTime": "2020-02-20
                                          00:00:00",  # Optional. The time when export was picked up to
                                          be executed.
                                        "runSettings": {
                                            "definition": {
                                                "dataSet": {
                "configuration": {
                "columns": [
                "str"  # Optional. Array of column names
                                                              to be included in the export. If not
                                                              provided then the export will include all
                                                              available columns. The available columns
                                                              can vary by customer channel (see
                                                              examples).
                                                        ]
                                                    },
                "granularity": "str"  # Optional. The granularity
                                                      of rows in the export. Currently only 'Daily' is
                                                      supported. "Daily"
                                                },
                                                "timePeriod": {
                                                    "from":
                                                      "2020-02-20 00:00:00",  # The start date for
                                                      export data. Required.
                                                    "to":
                                                      "2020-02-20 00:00:00"  # The end date for export
                                                      data. Required.
                                                },
                                                "timeframe": "str",
                                                  # The time frame for pulling data for the export. If
                                                  custom, then a specific time period must be provided.
                                                  Required. Known values are: "MonthToDate",
                                                  "BillingMonthToDate", "TheLastMonth",
                                                  "TheLastBillingMonth", "WeekToDate", and "Custom".
                                                "type": "str"  # The
                                                  type of the export. Note that 'Usage' is equivalent
                                                  to 'ActualCost' and is applicable to exports that do
                                                  not yet provide data for charges or amortization for
                                                  service reservations. Required. Known values are:
                                                  "Usage", "ActualCost", and "AmortizedCost".
                                            },
                                            "deliveryInfo": {
                                                "destination": {
                                                    "container":
                                                      "str",  # The name of the container where exports
                                                      will be uploaded. If the container does not exist
                                                      it will be created. Required.
                                                    "resourceId":
                                                      "str",  # Optional. The resource id of the
                                                      storage account where exports will be delivered.
                                                      This is not required if a sasToken and
                                                      storageAccount are specified.
                "rootFolderPath": "str",  # Optional. The name of
                                                      the directory where exports will be uploaded.
                                                    "sasToken":
                                                      "str",  # Optional. A SAS token for the storage
                                                      account. For a restricted set of Azure customers
                                                      this together with storageAccount can be
                                                      specified instead of resourceId. Note: the value
                                                      returned by the API for this property will always
                                                      be obfuscated. Returning this same obfuscated
                                                      value will not result in the SAS token being
                                                      updated. To update this value a new SAS token
                                                      must be specified.
                "storageAccount": "str"  # Optional. The storage
                                                      account where exports will be uploaded. For a
                                                      restricted set of Azure customers this together
                                                      with sasToken can be specified instead of
                                                      resourceId.
                                                }
                                            },
                                            "format": "str",  # Optional.
                                              The format of the export being delivered. Currently only
                                              'Csv' is supported. "Csv"
                                            "nextRunTimeEstimate":
                                              "2020-02-20 00:00:00",  # Optional. If the export has an
                                              active schedule, provides an estimate of the next
                                              execution time.
                                            "partitionData": bool,  #
                                              Optional. If set to true, exported data will be
                                              partitioned by size and placed in a blob directory
                                              together with a manifest file. Note: this option is
                                              currently available only for modern commerce scopes.
                                            "runHistory": ...
                                        },
                                        "status": "str",  # Optional. The
                                          last known status of the export execution. Known values are:
                                          "Queued", "InProgress", "Completed", "Failed", "Timeout",
                                          "NewDataNotAvailable", and "DataNotAvailable".
                                        "submittedBy": "str",  # Optional.
                                          The identifier for the entity that executed the export. For
                                          OnDemand executions it is the user email. For scheduled
                                          executions it is 'System'.
                                        "submittedTime": "2020-02-20
                                          00:00:00"  # Optional. The time when export was queued to be
                                          executed.
                                    },
                                    "type": "str"  # Optional. Resource type.
                                }
                            ]
                        },
                        "schedule": {
                            "recurrence": "str",  # Optional. The schedule recurrence.
                              Known values are: "Daily", "Weekly", "Monthly", and "Annually".
                            "recurrencePeriod": {
                                "from": "2020-02-20 00:00:00",  # The start date of
                                  recurrence. Required.
                                "to": "2020-02-20 00:00:00"  # Optional. The end date
                                  of recurrence.
                            },
                            "status": "str"  # Optional. The status of the export's
                              schedule. If 'Inactive', the export's schedule is paused. Known values
                              are: "Active" and "Inactive".
                        }
                    },
                    "type": "str"  # Optional. Resource type.
                }

                # response body for status code(s): 200, 201
                response == {
                    "eTag": "str",  # Optional. eTag of the resource. To handle concurrent update
                      scenario, this field will be used to determine whether the user is updating the
                      latest version or not.
                    "id": "str",  # Optional. Resource Id.
                    "name": "str",  # Optional. Resource name.
                    "properties": {
                        "definition": {
                            "dataSet": {
                                "configuration": {
                                    "columns": [
                                        "str"  # Optional. Array of column
                                          names to be included in the export. If not provided then the
                                          export will include all available columns. The available
                                          columns can vary by customer channel (see examples).
                                    ]
                                },
                                "granularity": "str"  # Optional. The granularity of
                                  rows in the export. Currently only 'Daily' is supported. "Daily"
                            },
                            "timePeriod": {
                                "from": "2020-02-20 00:00:00",  # The start date for
                                  export data. Required.
                                "to": "2020-02-20 00:00:00"  # The end date for
                                  export data. Required.
                            },
                            "timeframe": "str",  # The time frame for pulling data for
                              the export. If custom, then a specific time period must be provided.
                              Required. Known values are: "MonthToDate", "BillingMonthToDate",
                              "TheLastMonth", "TheLastBillingMonth", "WeekToDate", and "Custom".
                            "type": "str"  # The type of the export. Note that 'Usage' is
                              equivalent to 'ActualCost' and is applicable to exports that do not yet
                              provide data for charges or amortization for service reservations.
                              Required. Known values are: "Usage", "ActualCost", and "AmortizedCost".
                        },
                        "deliveryInfo": {
                            "destination": {
                                "container": "str",  # The name of the container
                                  where exports will be uploaded. If the container does not exist it
                                  will be created. Required.
                                "resourceId": "str",  # Optional. The resource id of
                                  the storage account where exports will be delivered. This is not
                                  required if a sasToken and storageAccount are specified.
                                "rootFolderPath": "str",  # Optional. The name of the
                                  directory where exports will be uploaded.
                                "sasToken": "str",  # Optional. A SAS token for the
                                  storage account. For a restricted set of Azure customers this
                                  together with storageAccount can be specified instead of resourceId.
                                  Note: the value returned by the API for this property will always be
                                  obfuscated. Returning this same obfuscated value will not result in
                                  the SAS token being updated. To update this value a new SAS token
                                  must be specified.
                                "storageAccount": "str"  # Optional. The storage
                                  account where exports will be uploaded. For a restricted set of Azure
                                  customers this together with sasToken can be specified instead of
                                  resourceId.
                            }
                        },
                        "format": "str",  # Optional. The format of the export being
                          delivered. Currently only 'Csv' is supported. "Csv"
                        "nextRunTimeEstimate": "2020-02-20 00:00:00",  # Optional. If the
                          export has an active schedule, provides an estimate of the next execution
                          time.
                        "partitionData": bool,  # Optional. If set to true, exported data
                          will be partitioned by size and placed in a blob directory together with a
                          manifest file. Note: this option is currently available only for modern
                          commerce scopes.
                        "runHistory": {
[...]
